body{
    background-color:#ede3e3  ;
}
.usersList{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    margin: 30px 30px 30px 30px;
}

.card{
    width: 380px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin:5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;

    row-gap: 5px;
    background-color: #fef6f9   ;
    box-shadow: 0 4px 8px rgba(60, 44, 49, 0.2);
}

.line{
    display: flex;
    align-items: center;
    height: 35px;
    box-shadow: 0 4px 2px -2px rgba(60, 44, 49, 0.09);

}

.double .unit{
    width: 50%;
}
.unit{
    display: flex;
    column-gap: 5px;
    align-items: center;
}
.title{
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.info{
    font-size: 16px;
    font-weight: 500;
}